@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(93.37% 0.0339 12.05);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(70.79% 0.1862 16.25);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #ff6678;
  --chart-2: #7a83ff;
  --chart-3: #facc00;
  --chart-4: #00d696;
  --chart-5: #5294ff;
  --chart-active-dot: #000;
}

.dark {
  --background: oklch(25.15% 0.0495 7.54);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(67.58% 0.2135 18.63);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
  --chart-1: #ff4d61;
  --chart-2: #7a83ff;
  --chart-3: #e0b700;
  --chart-4: #00bd84;
  --chart-5: #5294ff;
  --chart-active-dot: #fff;
}

@theme inline {
  --color-main: var(--main);
  --color-background: var(--background);
  --color-secondary-background: var(--secondary-background);
  --color-foreground: var(--foreground);
  --color-main-foreground: var(--main-foreground);
  --color-border: var(--border);
  --color-overlay: var(--overlay);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --spacing-boxShadowX: 4px;
  --spacing-boxShadowY: 4px;
  --spacing-reverseBoxShadowX: -4px;
  --spacing-reverseBoxShadowY: -4px;
  --radius-base: 15px;
  --shadow-shadow: var(--shadow);
  --font-weight-base: 500;
  --font-weight-heading: 900;
}

@layer base {
  body {
    @apply text-foreground font-base bg-background;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  @keyframes marquee2 {
    0% {
      transform: translate(100%, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .animate-marquee {
    animation: marquee 25s linear infinite;
  }

  .animate-marquee2 {
    animation: marquee2 25s linear infinite;
  }
}

.scrollbar {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #000000;
}

html.dark,
html.dark .scrollbar {
  --sb-track-color: #1f1f1f;
  --sb-thumb-color: #e6e6e6;
}

.scrollbar::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar {
  width: 20px;
}

.toc-scrollbar::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

::-webkit-scrollbar-track {
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

html.dark ::-webkit-scrollbar-thumb {
  border-left: 2px solid #000;
}

.code::-webkit-scrollbar-track {
  background: transparent;
}

.code::-webkit-scrollbar-thumb {
  background: white;
}

.code::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: 0 !important;
}

.code::-webkit-scrollbar-corner {
  background: transparent !important;
  border: 0 !important;
}

.command-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.command-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.command-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

@supports not selector(::-webkit-scrollbar) {
  body,
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  .command-scrollbar {
    scrollbar-color: #000 transparent;
  }
}

html body[data-scroll-locked] {
  margin-right: 0px !important;
}
